---
import Navbar from "../components/Navbar.astro";
---
<Navbar />
<h1>Acerca de </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat error sed sint eaque nobis hic beatae iste? Saepe, officia.</p>