<section class="main">
  <h2>Nosotros</h2>
  <div class="center">
    <img src="/6.svg" alt="" />
    <!-- <img src="/7.svg" alt="" />
    <img src="/8.svg" alt="" />
    <img src="/5.svg" alt="" /> -->
  </div>
  <div class="container">
    <img src="/7.svg" alt="" />
    <p>
      Nuestra empresa cuenta con amplia trayectoria y experiencia en diferentes
      proyectos catastrales, topográficos, cartográficos, sensores
      remotos,desarrollo de aplicaciones web y móviles, por un lado enfocados en
      las políticas del catastro multipropósito y toda las herramientas que nos
      brinda el sistema de administración de territorio SAT y por otro llevando
      a los usuarios soluciones técnicas y tecnológicas que ayuden a mejorar su
      comprensión y la forma de tomar decisiones con respecto al territorio que
      habitan.
    </p>
    <img src="/8.svg" alt="" />
  </div>
  <div class="center">
    <img src="/5.svg" alt="" />
  </div>
</section>

<style>
  section {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  h2 {
    color: white;
    text-align: center;
  }
  p {
    color: white;
  }
  .container {
    display: flex;
    
  }
  img {
    max-width: 17rem;
    padding-right: 2rem;
  }

  .center {
    display: flex;
    justify-content: center;
  }
</style>
