<section>
    <h2>Nosotros</h2>
    <div>
        <img src="/1.svg" alt="" />
        <p>
            Nuestra empresa cuenta con amplia trayectoria y experiencia en
            diferentes proyectos catastrales, topográficos, cartográficos,
            sensores remotos,desarrollo de aplicaciones web y móviles, por un
            lado enfocados en las políticas del catastro multipropósito y toda
            las herramientas que nos brinda el sistema de administración de
            territorio SAT y por otro llevando a los usuarios soluciones
            técnicas y tecnológicas que ayuden a mejorar su comprensión y la
            forma de tomar decisiones con respecto al territorio que habitan.
        </p>
    </div>
</section>

<style>
    h2 {
        color: white;
    }
    p {
        color: white;
    }
</style>
