<h2>Contacto</h2>
<div class="flex flex-col items-center lg:flex lg:flex-row lg:justify-around lg:items-stretch">
  
  <div class="contenedor-info">
    <img src="/cyc-site-astro/whatsapp_icon.svg" alt="" />
    <p>Numeros telefonicos: 3152201117 - 322 7261940</p>
  </div>
  <div class="contenedor-info">
    <img src="/cyc-site-astro/gmail_icon.svg" alt="" />
    <p>cycservicioscatastrales@gmail.com</p>
  </div>
  <div class="contenedor-info">
    <a href="https://www.facebook.com/CC-Servicios-Catastrales-SAS-106667389000846">
      <img src="/cyc-site-astro/facebook_icon.svg" alt="" />
    </a>
    
    <p>C&C Servicios Catastrales</p>
  </div>
  <div class="contenedor-info">
    <img src="/cyc-site-astro/linkedin_icon.svg" alt="" />
    <p>C&C Servicios Catastrales</p>
  </div>
</div>

<style>    
    .contenedor-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin-right: 10px;
    }
    .contenedor-info > img{
        background-color: white;
        border-radius: 30px;
        width: 55px;
        padding: 8px;
        margin-right: 10px;
    }
    .contenedor-info > a{
        background-color: white;
        border-radius: 30px;
        width: 55px;
        padding: 8px;
        margin-right: 10px;
    }
</style>