<h2>Contacto</h2>
<div class="container-main">
  <img src="" alt="" />
  <div class="container-info">
    <img src="/whatsapp_icon.svg" alt="" />
    <p>Numeros telefonicos: 3152201117 - 322 7261940</p>
  </div>
  <div class="container-info">
    <img src="/gmail_icon.svg" alt="" />
    <p>email</p>
  </div>
  <div class="container-info">
    <img src="/facebook_icon.svg" alt="" />
    <p>Facebook</p>
  </div>
  <div class="container-info">
    <img src="/linkedin_icon.svg" alt="" />
    <p>LinkedIn</p>
  </div>
</div>

<style>
    .container.main{
        display: flex;
        justify-content: space-between;
    }
    .container-info{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }
    .container-info > img{
        background-color: white;
        border-radius: 30px;
        width: 55px;
        padding: 8px;
        margin-right: 10px;
    }
</style>