<h2>Contacto</h2>
<div class="contenedor-main">
  <img src="" alt="" />
  <div class="contenedor-info">
    <img src="/cyc-site-astro/whatsapp_icon.svg" alt="" />
    <p>Numeros telefonicos: 3152201117 - 322 7261940</p>
  </div>
  <div class="contenedor-info">
    <img src="/cyc-site-astro/gmail_icon.svg" alt="" />
    <p>email</p>
  </div>
  <div class="contenedor-info">
    <img src="/cyc-site-astro/facebook_icon.svg" alt="" />
    <p>Facebook</p>
  </div>
  <div class="contenedor-info">
    <img src="/cyc-site-astro/linkedin_icon.svg" alt="" />
    <p>LinkedIn</p>
  </div>
</div>

<style>
    .contenedor-main{
        display: flex;
        justify-content: center;
    }
    .contenedor-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin-right: 10px;
    }
    .contenedor-info > img{
        background-color: white;
        border-radius: 30px;
        width: 55px;
        padding: 8px;
        margin-right: 10px;
    }
</style>