---
import Navbar from "./navbar.astro"
---
<div class="contenedor">
    <Navbar/>
    <h1 class="text-3xl">C&C Servicios Catastrales</h1>
    <button>ver mas</button>
    <h3>Soluciones inteligentes a los probelmas de gobernanza del territorio</h3>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
    .contenedor{
        background-image: url(/header.jpg);
        background-position: center center ;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        color: rgb(253, 255, 198);
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        text-transform: capitalize;

    }
    h3{
        color: rgb(253, 255, 198);
        text-align: center;
    }
    button{
        width: 5rem;
        margin: 0 auto;
    }

    
</style>