---
import Navbar from "./Navbar.astro"
---
<div class="container">
    <Navbar/>
    <h1>Cyc Servicios Catastrales</h1>
    <h3>Soluciones inteligentes a los probelmas de gobernanza del territorio</h3>
</div>
<style>
    .container{
        background-image: url(/header.jpg);
        background-position: center center ;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        color: rgb(253, 255, 198);
        text-align: center;
    }
    h3{
        color: rgb(253, 255, 198);
        text-align: center;
    }
</style>