<div class="container">
  <div>
    <img
      id="logo"
      src="../../public/CyC_SERVICIOs.png"
      alt="logo cyc servicios catastrales"
    />
  </div>
  <nav class="navbar">
    <a href="#">Acerca</a>
    <a href="#">Servicios</a>
    <a href="#">Contacto</a>
  </nav>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }
  #logo {
    height: 5rem;
    padding-left: 1rem;
  }
  .navbar > a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1.5rem;
  }
  a:last-of-type {
    margin-right: 1;
  }
</style>
