<div class="separador">
    <img src="/separador.png" alt="Separador ">
</div>

<style>
    .separador{
        margin-top: 1rem;
        background-color: white;
        display: flex;
        justify-content: center;
        
    }
    img{
        
        max-height: 5rem;
    }
</style>