---
import Card from "./Card.astro";
---

<main>
  <h2>Servicios</h2>
  <h2>Catastro</h2>
  <div class="container-cards">
    <Card title="Avaluos" img="/avaluo_icon.svg" />
    <Card
      title="Tramites Notariales y Registrales"
      img="/tramites_nyr_icon.svg"
    />
    <Card title="Englobes y Desenglobes" img="/englobes_icon.svg" />
    <Card title="Levantamientos Topograficos" img="/topografia_icon.svg" />
    <Card title="Ventas" img="/ventas_icon.svg" />
  </div>
  <h2>Soluciones Geoespaciales</h2>
  <div class="container-cards">
    <Card
      title="Desarrollo de Aplicativos Web y Móviles"
      img="/desarrollo_icon.svg"
    />
    <Card title="Gestión de Datos Geográficos" img="/geografia_icon.svg" />
    <Card
      title="Análisis de Datos y ETL- Extract Transform and Load"
      img="/analisis_icon.svg"
    />
    <Card
      title="Estructuración de Bases de Datos-Modelo LADM-COL"
      img="/Bases_icon.svg"
    />
    <Card
      title="Sensores Remotos e Interpretacion de Imagenes"
      img="/Sensores_icon.svg"
    />
  </div>
</main>

<style>
  .container-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
  }
  h2 {
    color: white;
    text-align: center;
  }
  
</style>
